@{
    ViewData["Title"] = "Аккаунт";
}
@model IEnumerable<iTrasitionApp.Models.Company>

@if(Model != null && Model.Any())
{
<div class="list-group">
    <a class="list-group-item active">
        <span class="glyphicon glyphicon-star"></span> Компании пользователя @Model.FirstOrDefault().User.UserName<span class="badge">9</span>
    </a>
    @foreach (var company in Model)
    {
    <a asp-controller="Company" asp-action="Company" asp-route-id="@company.Id" class="list-group-item">
        <span class="glyphicon glyphicon-th-list"></span> @company.Name <span class="badge">Собрано @company.Сurrent из @company.Goal</span>
    </a>
    }
</div>
}else
{
<a>У пользователя нет начатых компаний</a>
}


